---
import { Image } from "astro:assets";
import { slugifyCategory } from "@/data/categories";
 

const { title, url, description, author, image, categories } = Astro.props;
---
 
<article class="flex flex-col flex-1 h-full group">
  <a href={url} title={title} class="block">
    <div class="block w-full lg:col-span-2">
      <Image
        width={1200}
        height={630}
        src={image}
        alt={title}
        class="object-cover w-full h-full bg-center aspect-12/8 rounded-xl"
      />
    </div>
  </a>

  <div class="mt-5">
    <div class="flex items-center space-x-1 gap-2 text-xs text-base-500">
      <img src={author.avatar} alt="User" 
      class="squircle !w-[50px] !h-[50px]" />
      <span class="font-medium">{author.name}</span>
      <span aria-hidden="true">&middot;</span>
      {categories && categories.length > 0 && (
        <span class="flex flex-wrap gap-2">
          {categories.map((category) => (
            <a 
              href={`/category/${slugifyCategory(category)}`}
              class="text-yellow-700"
            >
              {category}
            </a>
          ))}
        </span>
      )}
    </div>
    


    <h3 class="mt-4 text-base text-base-900 text-balance">
      <a href={url} class="group-hover:underline group-hover:decoration-1 group-hover:decoration-wavy">{title}</a>
    </h3>

    <p class="mt-1 text-sm text-base-500 line-clamp-2">{description}</p>
  </div>
</article>
