---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getLocaleFromCookie, useTranslations } from "@/utils/i18n";

const locale = getLocaleFromCookie(Astro.cookies);
const t = useTranslations(locale);
---

<BaseLayout 
  title={t.pages.about.title}
  description={t.pages.about.description}
  locale={locale}
>
  <section class="max-w-3xl mx-auto py-8 px-4 sm:px-0">
    <div class="bg-white rounded-lg p-4">
      <!-- Başlıq -->
      <div class="mb-8">
        <h1 class="text-3xl font-nouvelr-semibold text-base-900 mb-2">
          {t.pages.about.title}
        </h1>
      </div>

      <!-- Məzmun -->
      <div class="prose prose-sm max-w-none text-slate-500! font-display space-y-4 text-light! *:mt-5! *:text-[15px]">
        <p class="text-base leading-relaxed">
          {t.pages.about.paragraph1}
        </p>

        <p class="text-base leading-relaxed">
          {t.pages.about.paragraph2}
        </p>

        <p class="text-base leading-relaxed">
          {t.pages.about.paragraph3}
        </p>

        <p class="text-base leading-relaxed">
          {t.pages.about.paragraph4}
        </p>

        <p class="text-base leading-relaxed">
          {t.pages.about.paragraph5}
        </p>
      </div>
    </div>
  </section>

  <style>
    .prose {
      color: inherit;
    }

    .prose p {
      margin: 0;
    }

    .prose strong {
      font-weight: 600;
    }
  </style>
</BaseLayout>
