---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getLocaleFromCookie, useTranslations } from "@/utils/i18n";

const locale = getLocaleFromCookie(Astro.cookies);
const t = useTranslations(locale);
---

<BaseLayout
  title={t.pages.adv.title}
  description={t.pages.adv.description}
  locale={locale}
>
  <section class="max-w-3xl mx-auto py-8 px-4 sm:px-0">
    <div class="bg-white rounded-lg p-4">
      <!-- Başlıq -->
      <div class="mb-8">
        <h1 class="text-3xl font-nouvelr-semibold text-base-900 mb-2">
          {t.pages.adv.title}
        </h1>
      </div>

      <!-- Məzmun -->
      <div class="prose prose-sm max-w-none text-slate-500! font-display space-y-4 text-light! *:mt-5! *:text-[15px]">
        <p class="text-base leading-relaxed">
          {t.pages.adv.paragraph1}
        </p>

        <p class="text-base leading-relaxed">
          {t.pages.adv.paragraph2}
        </p>

        <p class="text-base leading-relaxed">
          {t.pages.adv.paragraph3} <a href={`mailto:${t.pages.adv.emailLink}`} class="text-rose-500 hover:text-rose-600 transition-colors font-medium">{t.pages.adv.emailLink}</a> {t.pages.adv.emailText}
        </p>
      </div>
    </div>
  </section>
</BaseLayout>
