---
import BaseLayout from "@/layouts/BaseLayout.astro";
import ContactForm from "@/components/contact/ContactForm.svelte";
import { isAuthenticated } from "@/utils/auth";
import { getUserFromCookies } from "@/utils/auth";
import { getLocaleFromCookie, useTranslations } from "@/utils/i18n";

const locale = getLocaleFromCookie(Astro.cookies);
const t = useTranslations(locale);

const isLoggedIn = isAuthenticated(Astro.cookies);
let userFullName = "";

if (isLoggedIn) {
  const user = await getUserFromCookies(Astro.cookies, () => null);
  if (user) {
    userFullName = user.fullname;
  }
}
---

<BaseLayout 
  title={t.pages.contact.title}
  description={t.pages.contact.description}
  locale={locale}
>
  <section class="max-w-3xl mx-auto py-8 px-4 sm:px-0">
    <div class="bg-white rounded-lg p-4">
      <!-- Başlıq -->
      <div class="mb-8">
        <h1 class="text-3xl font-nouvelr-semibold text-base-900 mb-2">
          {t.pages.contact.title}
        </h1>
        <p class="text-base-600 text-sm mt-4">
            {t.pages.contact.subtitle} <a href={`mailto:${t.pages.contact.emailLink}`} class="text-rose-500 hover:text-rose-600 transition-colors font-normal!">{t.pages.contact.emailLink}</a> {t.pages.contact.emailText}
        </p>
      </div>

      <!-- Form Component -->
      <ContactForm client:load isLoggedIn={isLoggedIn} userFullName={userFullName} t={t} />
    </div>
  </section>
</BaseLayout>
