---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getImage } from "astro:assets";

// Şəkilləri optimize et
const bahlulImage = await getImage({
  src: "/squad/bahlulhasanli.png",
  width: 150,
  height: 150,
  format: "webp",
  quality: 80
});

const elcanImage = await getImage({
  src: "/squad/eljaneyvazli.png",
  width: 150,
  height: 150,
  format: "webp",
  quality: 80
});

const teamMembers = [
  {
    id: 1,
    name: "Bəhlul Həsənli",
    image: bahlulImage,
    role: "Founder",
    profil: '',
    emoji: "🫰"
  },  {
    id: 2,
    name: "Elcan Eyvazlı",
    image: elcanImage,
    role: "Editor in Chief",
    profile: "",
    emoji: "🔥"
  }
];
---

<BaseLayout>
  <section class="max-w-3xl mx-auto py-8 px-4 sm:px-0">
    <div class="bg-white rounded-lg p-4">
      <!-- Başlıq -->
      <div class="mb-8">
        <h1 class="text-3xl font-big-shoulders font-bold text-base-900 mb-2">
          Squad
        </h1>
        <p class="text-base-600 text-sm">
          Yaradıcı komanda
        </p>
      </div>

      <!-- Team Grid -->
      <div class="mt-8 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 max-w-3xl mx-auto">
        {teamMembers.map((member) => (
          <div class="flex flex-col items-center relative">
            <div class="bg-white flex justify-center items-center p-2 absolute z-10 bottom-[55px] size-8 right-[55px] rounded-full text-xl">
               {member.emoji}
            </div>
            <!-- Image Container -->
            <div class="mb-4 relative ">
                <img 
                  src={member.image.src} 
                  width={member.image.attributes.width}
                  height={member.image.attributes.height}
                  alt={member.name} 
                  class="object-cover transition-all duration-300 rounded-lg squircle" 
                />
            </div>
            <!-- Name -->
            <h3 class="text-base font-semibold text-base-900 text-center">
              {member.name}
            </h3>
            <!-- Role -->
            {member.role && (
              <p class="text-xs text-base-600 text-center mt-1">
                {member.role}
              </p>
            )}
          </div>
        ))}
      </div>
    </div>
  </section>
</BaseLayout>
